
body {

    color: white;
    display: inline;
    background-color: #B2B09B;

}
nav.navbar-inverse{
    background-color: #233237;
}
.container div [style]{
    display:block !important;
}
.col-xs-4 {
    display: inline-block;
    text-align: center;
}
}

/*canvas {
    display: block;
}*/
div.button {
    background-color: #DB504A;
}
button{
    display: inline-block;
    background-color: #B4DBC0;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
a {
    color: #233237;
}
form {
    color: #233237;
}
.modal-header {
    color: #B4DBC0;
    background-color: #233237;
}
.progress-bar {
    background-color: #FF6F59;
}
.bottom {
    margin-bottom: 50px;
}
