{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class=userinfo>
</div>
<div class=need>
    <h2> Need Updates </h2>
    {% if needUpdate %}
        {% for project, update in needUpdate %}
            <a href="/projects/{{project.project_id}}"><h3 class=name> {{project.name}} </h3></a>
            <p> Last update was {{update}} days ago. </p>
            <br>
        {% endfor %}
    {% else %}
        <h2> No projects need updates </h2>
    {% endif %}
</div>
<div class=updated>
    <h2> Recently Updated Projects </h2>
    {% for project, update in updated %}
        <a href="/projects/{{project.project_id}}"><h3 class=name> {{project.name}} </h3></a>
        <p> Last update was {{update}} days ago. </p>
        <br>
    {% endfor %}
</div>
<div class=finished>
    <h2>Finished Projects</h2>
    {% for project in finished %}
        <a href="/projects/{{project.project_id}}"><h3 class=name> {{project.name}} </h3></a>
    {% endfor %}
</div>
<div class=hibernating>
    <h2>Hibernating Projects</h2>
    {% for project in hibernate %}
        <a href="/projects/{{project.project_id}}"><h3 class=name> {{project.name}} </h3></a>
    {% endfor %}
</div>
<div class=frogged>
    <h2>Frogged Projects</h2>
    {% for project in frogged %}
        <a href="/projects/{{project.project_id}}"><h3 class=name> {{project.name}} </h3></a>
    {% endfor %}
</div>
<script>
    var mess = "{{count}} projects haven't been updated in 2 weeks!";
    alert(mess);
</script>

{% endblock %}