{% extends 'base.html' %}

{% block title %}{{project.name}}{% endblock %}

{% block content %}
<div class=userinfo>
</div>
<div class=project>
    Project Name: {{project.name}}<br>
    Pattern: {{project.pattern_name}}<br><br>
    Status: {{project.status.status}}<br>
    Started: {{project.started_at}}<br>
    Notes: {{project.notes}}<br>
</div>
<div class=pics>
    {% for img in images %}
        <img src="{{img.url}}">
    {% endfor %}
<div class=update>
    <form action="/projects/{{project.project_id}}" method="POST" id="updateproject">
        Notes: <textarea name="notes" form="updateproject">{{project.notes}}</textarea><br>
        Status: <select name="status">
            <option value="1">In progress</option>
            <option value="2">Fishished</option>
            <option value="3">Hibernating</option>
            <option value="4">Frogged/ Deleted</option>
        </select><br>
        <input type="hidden" name="finished_at"><br>
        Photo URL:<input type="url" name="img-url"><br>
        <input type="submit"><input type="reset">
    </form>

</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
    // set the status intially to the current status
    $("#updateproject select option").each( function() {
        if ($(this).val() == {{project.status_id|tojson}}) {
            $(this).attr('selected', true);
        } 
    });
</script>
{% endblock %}