{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class=userinfo>
</div>
<div class=project>
    Project Name: {{project.name}}<br>
    Pattern: {{project.pattern_name}}<br><br>
    Started: {{project.started_at}}<br>
    Notes: {{project.notes}}<br>
</div>
<div class=pics>
    {% for img in images %}
        <img src="{{img.url}}">
    {% endfor %}
<div class=update>
    <form action="/projects/{{project.project_id}}" method="POST">
        Notes: <input type="textarea" name="notes" value="{{project.notes}}"><br>
        Status: <select name="status">
            <option value="1">In progress</option>
            <option value="2">Fishished</option>
            <option value="3">Hibernating</option>
            <option value="4">Frogged/ Deleted</option>
        </select><br>
        Photo URL:<input type="url" name="img-url"><br>
        <input type="submit"><input type="reset">
    </form>

</div>

{% endblock %}