{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div id="project-chart">
  <canvas id="donutChart"></canvas>
  <div id="projectLegend" class="chart-legend"></div>
</div>
<div class=need>
    <button><h2> Need Updates </h2></button>
    {% if needUpdate %}
        {% for project, update in needUpdate %}
            <div class=project>
                <a href="/projects/{{project.project_id}}"><h3 class=name> {{project.name}} </h3></a>
                <p> Last update was {{update}} days ago. </p>
                <br>
            </div>
        {% endfor %}
    {% else %}
        <h2> No projects need updates </h2>
    {% endif %}
</div>
<div class=updated>
    <button><h2> Recently Updated Projects </h2></button>
    {% for project, update in updated %}
        <div class=project>
            <a href="/projects/{{project.project_id}}"><h3 class=name> {{project.name}} </h3></a>
            <p> Last update was {{update}} days ago. </p>
            <br>
        </div>
    {% endfor %}
</div>
<div class=finished>
    <button><h2>Finished Projects</h2></button>
    {% for project in finished %}
        <div class=project>
            <a href="/projects/{{project.project_id}}"><h3 class=name> {{project.name}} </h3></a>
        </div>
    {% endfor %}
</div>
<div class=hibernating>
    <button><h2>Hibernating Projects</h2></button>
    {% for project in hibernate %}
        <div class=project>
            <a href="/projects/{{project.project_id}}"><h3 class=name> {{project.name}} </h3></a>
        </div>
    {% endfor %}
</div>
<div class=frogged>
    <button><h2>Frogged Projects</h2></button>
    {% for project in frogged %}
        <div class=project>
            <a href="/projects/{{project.project_id}}"><h3 class=name> {{project.name}} </h3></a>
        </div>
    {% endfor %}
</div>
<script>
    var mess = "{{counts['need update']}}projects haven't been updated in 2 weeks!";
    alert(mess);
</script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>
<script>
    $('.need').on('click', function() {
        $('.need div').toggle();
    });
    $('.updated').on('click', function() {
        $('.updated div').toggle();
    });
    $('.finished').on('click', function() {
        $('.finished div').toggle();
    });
    $('.hibernating').on('click', function() {
        $('.hibernating div').toggle();
    });
    $('.frogged').on('click', function() {
        $('.frogged div').toggle();
    });
    $('div div').toggle();

    var options = { responsive: true };

    var ctx_donut = $("#donutChart").get(0).getContext("2d");

    var counts = {{dict|safe}};

    // $.get("/project-types.json", function (data) {
        var myDonutChart = new Chart(ctx_donut, {
                                                type: 'doughnut',
                                                data: counts,
                                                options: options
                                              });
        $('#projectLegend').html(myDonutChart.generateLegend());
    // });

</script>

{% endblock %}